.splitScreen {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* LEFT SIDE (PlantArea) */
.leftSide {
  width: 100%;
}

/* RIGHT SIDE (SignupForm) */
.rightSide {
  width: 100%;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .splitScreen {
    flex-direction: column;
  }

  .leftSide {
    display: none; /* hide left side on mobile */
  }

  .rightSide {
    width: 100%; /* form takes full width */
    height: 100vh;
  }
}
