.chartContainer {
  background-color: var(--color-bg-card);
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
  margin-bottom: 1rem;
  width: 95%;
  padding: 10px;
}

.chartTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-text-main);
}
