.navBarInterface {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    border-bottom: 1px solid rgb(241, 241, 241);
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
}

.logoArea {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 5px;  
    color: var( --color-text-main);
}

.logoArea p {
    font-weight: bold;
}

.logoArea img {
    margin-left: 20px;
}


.ProfileArea {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.ProfileArea svg {
    width: 22px;
    height: 22px;
    color: var(--color-primary);
    cursor: pointer;
}

.notificationBell {
    margin-right: 20px;
}