.signupInterface {
  width: 100%; /* right side of split screen */
  height: 100vh;
  background-color: white; /* deep dark green */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.formContainer {
  width: 92%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #064e3b;
  margin: 2px;
  font-weight: bold;
}

.descText {
  color: rgb(202, 202, 202);
  margin-bottom: 30px;
  font-size: 21px;
}

.questionDiv {
  color: rgb(202, 202, 202);
  margin: 30px 0px;
  font-size: 21px;

}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.signupForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signupForm input {
  padding: 0.75rem 1rem;
  border: 2px solid #cad4bc; /* slightly lighter green for border */
  border-radius: 8px;
  background-color: #cad4bc; /* darker input bg */
  color: #19552b;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.signupForm input::placeholder {
  color: #19552b; /* soft green placeholder */
}

.signupForm input:focus {
  outline: none;
  border-color: #cad4bc;
  box-shadow: 0 0 8px rgba(34, 197, 94, 0.5);
  transform: translateY(-2px);
}

.signupForm button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #064e3b;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signupForm button:hover {
  background-color: #064e3b;
  transform: translateY(-2px);
}

.signupForm button:disabled {
  background-color: #065f46;
  cursor: not-allowed;
  opacity: 0.7;
}

.loginLink {
  color: #064e3b; /* bright green to stand out */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* remove underline */
  transition: all 0.2s ease;
}

.loginLink:hover {
  color: #064e3b;
  text-decoration: none; /* make sure hover doesn't add underline */
}

.forgotLink {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #064e3b; /* bright green */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

.forgotLink:hover {
  color: #064e3b;
  text-decoration: none;
}

