
.interface {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    background-color: var(--color-bg-main);
    padding-bottom: 30px;
    overflow: hidden;
}


.welcome_date {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 10px;
}

.welcomeTag {
   color: var(--color-text-main);
   font-weight: bold;
   font-size: 180%;
}

.dateTag {
    color: var(--color-text-muted);
}

.chartArea {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.ChartOne {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartTwo {
   width: 40%;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Responsive for smaller screens */
@media (max-width: 600px) {
   .chartArea {
    flex-direction: column-reverse;
    
   }
   .ChartOne {
    width: 100%;
   }

   .chartTwo {
    width: 100%;
   }
}