
.interface {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    background-color: var(--color-bg-main);
    padding-bottom: 30px;
}


.welcome_date {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 10px;
}

.welcomeTag {
   color: var(--color-text-main);
   font-weight: bold;
   font-size: 180%;
}

.dateTag {
    color: var(--color-text-muted);
}
